/* RESET */

:root {
    --txt-color-primary: #ffff;
    --txt-color-second: #6f6f6f;

    --bg-color-primary: #141922;
    --bg-color-second: #282828;

    --head-color: #080b12;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

.debug {
    border: 1px solid red;
}





/* LAYOUT */


.flex {
    display: flex;
}



/* SECTIONS */






main {

    background-color: pink;

    display: flex;
}


nav {
    width: 15rem;
    background-color: yellow;
}


section {
    background-color: greenyellow;
    width: calc(100% - 15rem);

    overflow: auto;
    height: calc(100vh - 6rem);

}

header {
    height: 6rem;
    background-color: rgba(255, 228, 196, 0.514);
    position: fixed;

}

#music {
    padding-top: 8rem;
}


footer {
    height: 6rem;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}



/* RESPONSIVE */

/* spotify-md laptop */

@media screen and (max-width:1250px) {

    header {
        background-color: skyblue;
    }

}


/* spotify-sm tablet */

@media screen and (max-width:992px) {
    header {
        background-color: palevioletred;
    }

}

/* spotify-x-small mobile */

@media screen and (max-width:576px) {

    header {
        background-color: greenyellow;
    }
}